server:
  port: 8800
spring:
  application:
    name: nbbang-gateway, jwt-common
  profiles:
    active: local
  config:
    import: optional:configserver:http://localhost:8197
  rabbitmq:
    host: 129.154.222.27
    port: 5672
    username: nbbang
    password: nbbang-dev!@#
# actuator
management:
  endpoints:
    web:
      exposure:
        include:
          - "gateway"
          - "busrefresh"
  endpoint:
    gateway:
      enabled: true
# KeyStore λ³µνΈν™”
# encrypt:
#   key-store:
#     location: file:///home/ubuntu/nbbang/key/nbbang-config.jks
#     password: config-access
#     alias: nbbang-config-key